{
  "extends": "airbnb-base",
  "rules": {
      "arrow-body-style": ["error", "always"],
      "comma-dangle": ["error", "never"],
      "func-names": ["error", "never"],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/webpack.*.js"]}]
    },
    "globals": {
        "window": false,
        "document": false
    }
}
